# Eksik Değerlerin İncelenmesi

In [6]:
import seaborn as sns

In [8]:
planets = sns.load_dataset("planets")
df = planets.copy()
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [10]:
#Hiç eksik gözlem var mı?
df.isnull().values.any()

True

In [18]:
#Hangi değişkende kaçar tane?
df.isnull().sum()

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64

In [50]:
#df["değişken_ismi"] = df.fillna(0, inplace=True)
#Bu şekilde boşluklar 0 ile doldurulabilir
df["orbital_period"].fillna(0, inplace=True)

C:\Users\Emre\AppData\Local\Temp\ipykernel_25300\591859849.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["orbital_period"].fillna(0, inplace=True)

In [52]:
df.isnull().sum()

method               0
number               0
orbital_period       0
mass              1035
distance             0
year                 0
dtype: int64

In [54]:
#Ortalama değerler ile doldurma işlemi
df["mass"].fillna(df.mass.mean(), inplace=True)

In [56]:
df.isnull().sum()

method               0
number               0
orbital_period       0
mass              1035
distance             0
year                 0
dtype: int64

In [58]:
df = planets.copy()
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [60]:
df.isnull().sum()

method              0
number              0
orbital_period     43
mass              522
distance          227
year                0
dtype: int64